body {
  background: url(./background-pic.png) repeat;
  background-size: cover;
  background-position: center;
  /* background-color: #d7b377; */
  width: 100vw;
  height: 100%;
  font-family: "arial";
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  top: 0;
  left: 0;
  margin: 0;
}

.modal-cont {
  position: absolute;
  z-index: 1;
  top: 0px;
  margin: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 1); */
  background: url(./background-pic.png) repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #ff6b35;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  height: 250px;
  align-items: center;
  color: white;
  padding: 25px;
  border-color: white;
  border: 10px solid;
  border-radius: 15px;
}

h1,
h2 {
  font-family: "Rubik Distressed", cursive;
  width: 100vw;
  color: white;
  font-size: 40px;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px 3px gray;
}

h1 {
  box-shadow: 5px 10px 15px 0.8px yellow;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-right: 40px;
  /* margin-top: 5px; */
  margin-top: 0px;
  margin-bottom: 25px;
  color: brown;
  /* justify-items: center; */
}

label,
#fname {
  margin-left: 35px;
  font-size: 18px;
  font-family: "Rubik Distressed", cursive;
}

label {
  height: 25px;
  font-size: 18px;
  text-shadow: 3px 3px 3px gray;
}

#fname {
  margin-right: 30px;
  margin-left: 10px;
  font-family: "Rubik Distressed", cursive;
}

.modCont {
  background-color: #472d30;
  color: whitesmoke;
  padding: 5px 20px;
  font-family: "Rubik Distressed", cursive;
}

.aboutTheGame {
  top: 0;
  margin: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  /* background-color: greenyellow; */
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  /* align-items: center; */
  display: none;
}

.aboutTheGameContent {
  height: 410px;
  width: 800px;
  margin: 80px auto;
  z-index: 1;
  background-color: #ff6b35;
  border: 10px solid white;
  border-radius: 15px;
  /* display: flex;
  flex-flow: row; */
  /* justify-content: center;
  align-items: center; */
  padding: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 24px;
  font-weight: bold;
}

.closeModalAboutGame {
  background-color: #472d30;
  color: whitesmoke;
  padding: 10px 25px;
  font-family: "Rubik Distressed", cursive;
  width: 100px;
  margin-left: 650px;
}

.rulesOfGame {
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  /* background-color: greenyellow; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  display: none;
}
.rulesOfGameContent {
  height: 400px;
  width: 600px;
  z-index: 1;
  margin: 80px auto;
  /* position: absolute; */
  background-color: #ff6b35;
  border: 10px solid white;
  border-radius: 15px;
  font-family: "Dancing Script", cursive;
  font-size: 26px;
  font-weight: bold;
  padding: 40px;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: right; */
}

.closeModalGameRules {
  background-color: #472d30;
  color: whitesmoke;
  /* padding: 5px 10px; */
  font-family: "Rubik Distressed", cursive;
  width: 100px;
  margin-left: 500px;
  padding: 5px 10px;
}

main {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header,
.header {
  background-color: #38040e;
  width: 100%;
}

.gameDetails {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #9e2a2b;
  display: flex;
  flex-flow: row wrap;
}

li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.player {
  color: white;
  padding: 10px;
  border: black solid 4px;
  flex-grow: 1;
  font-family: "Rubik Distressed", cursive;
  /* font: "Arial black"; */
  font-weight: bold;
  letter-spacing: 3px;
}

.nextTile {
  color: white;
  padding: 10px;
  border: black solid 5px;
  flex-grow: 1;
  font-family: "Rubik Distressed", cursive;
  /* font: "Arial black"; */
  font-weight: bold;
  letter-spacing: 3px;
}
.pointsEarned {
  color: white;
  padding: 10px;
  border: black solid 5px;
  flex-grow: 1;
  font-weight: bold;
  font-family: "Rubik Distressed", cursive;
  /* font: "Arial black"; */
  letter-spacing: 3px;
}

.userInteraction {
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  align-items: center;
}

.forButtons {
  /* margin: 40px; */
  margin: 0 auto;
  padding: 0;
  /* flex-grow: 1; */
  width: 230px;
  height: 300px;
  /* margin: 10px 50px; */
  background-color: #dda15e;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 45px 1px #dda15e;
}

.aboutGame {
  width: 150px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 8px 0.8px #335c67;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 22px;
  text-shadow: 0.5px 0.5px 0.5px green;
}

.gameRules {
  width: 150px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 8px 0.8px #335c67;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 22px;
  text-shadow: 0.5px 0.5px 0.5px green;
}

.loadGame {
  width: 150px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 8px 0.8px #335c67;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 22px;
  text-shadow: 0.5px 0.5px 0.5px green;
}

.resetGame {
  width: 150px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 8px 0.8px #335c67;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 22px;
  text-shadow: 0.5px 0.5px 0.5px green;
}

.gameSpace {
  width: 340px;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  background-color: #dda15e;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 5px 5px 45px 1px #dda15e;
}
.colOne {
  background-color: #cb997e;
  height: 600px;
  width: 55px;
  box-shadow: -5px 1px 0 0.8px #cb997e;
}
.colTwo {
  background-color: #ddbea9;
  height: 600px;
  width: 55px;
  box-shadow: 10px 1px 0px 0.8px #ddbea9;
}
.colThree {
  background-color: #ffe8d6;
  height: 600px;
  width: 55px;
  box-shadow: 10px 1px 0px 0.8px #ffe8d6;
}
.colFour {
  background-color: #b7b7a4;
  height: 600px;
  width: 55px;
  box-shadow: 10px 1px 0px 0.8px #b7b7a4;
}
.colFive {
  background-color: #a5a58d;
  height: 600px;
  width: 55px;
  box-shadow: 10px 1px 0px 0.8px #a5a58d;
}
.colSix {
  background-color: #6b705c;
  height: 600px;
  width: 55px;
  box-shadow: 10px 1px 3px 0.8px #6b705c;
}

.forNumbers {
  display: flex;
  flex-flow: column wrap;
  background-color: #dda15e;
  /* flex-grow: 1; */
  height: 500px;
  width: 100px;
}
.number {
  width: 55px;
  height: 40px;
  /* background-color: brown; */
  color: white;
  text-align: center;
  margin-top: 2px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 5px -5px 8px 0.8px #335c67;
}

.numberTwo {
  background-color: #e9d8a6;
  color: rgb(0, 0, 0);
}
.numberFour {
  background-color: #ee9b00;
  color: rgb(0, 0, 0);
}
.numberEight {
  background-color: #94d2bd;
  color: rgb(0, 0, 0);
}
.numbersSixteen {
  background-color: #ca6702;
}
.numbersThirtyTwo {
  background-color: #0a9396;
}
.numbersSixtyFour {
  background-color: #bb3e03;
}
.numbersOneTwoEight {
  background-color: #005f73;
}
.numbersTwoFiveSix {
  background-color: #ae2012;
}
.numbersFiveOneTwo {
  background-color: #9b2226;
}
.numbersOneZTwoFour {
  background-color: #5f0f40;
}
.numbersTwoZFourEIght {
  background-color: #001219;
  color: rgb(255, 255, 255);
}
